body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
  color: white;
}
h1 {
  color: black;
}
.container {
  width: 800px;
  margin: 100px auto;
  box-sizing: border-box;
}
.select-bar {
  background-color: coral;
  border: 2px solid green;
  padding-left: 24px;
  width: 100%;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.select-items {
  width: 100%;
  display: none;
}

.item-choice {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #00b0b2;
  padding-left: 24px;
  background-color: teal;
}
.item-choice:hover {
  background-color: blue;
}

.item-add {
  border: 1px solid darkseagreen;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  height: 30%;
  display: flex;
  align-items: center;
  background-color: darkslateblue;
}
