body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.select-div {
  width: 90%;
  margin: auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: coral;
}
.select-div > select {
  width: 50%;
  height: 60px;
}
.muti-select {
  height: 100px;
}

.left-right {
  display: flex;
  width: 100%;
  margin: auto;
  height: 500px;
}
.left {
  width: 50%;
  background-color: cornflowerblue;
}
.right {
  width: 50%;
  background-color: cyan;
}
.txt {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.white {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
  background-color: red;
}
.white > button {
  width: 10%;
  height: 50%;
}
.white h1 {
  margin: 0;
}
