body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
  color: white;
}
h1 {
  color: black;
}
.container {
  width: 800px;
  margin: 100px auto;
  box-sizing: border-box;
}
.select-bar {
  background-color: coral;
  height: 81px;
  border: 2px solid green;
  padding-left: 24px;
  width: 100%;
}
.select-items {
  width: 100%;
}

.item-choice {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #00b0b2;
  padding-left: 24px;
  background-color: teal;
}
.item-choice:hover {
  background-color: blue;
}
